html
    min-height 100%

*
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)  
    -webkit-font-smoothing antialiased
    font-smoothing antialiased
    box-sizing border-box

body
    height 100%
    overflow-y visible
    overflow-x hidden
    margin 0

.artworkCont
  margin 0px
  overflow auto
  z-index 0
  @media tablet
    margin 10vw 10vw 10vw 20vw

.artworkSingle
  width 100%
  @media tablet
    width 50vw
    margin-top -4%
    &:nth-child(even)
      float left
    &:nth-child(odd)
      float right
  img
    width 100%
    margin-bottom 5vw
    @media tablet
      margin-bottom 0px
    // transform scale(1)
    // transition all 200ms ease-out
    // &:hover
    //   transform scale(1.01)

.artworkIntro
  margin 15vw 10vw 15vw 10vw
  overflow visible
  text-align center
  

.info
  margin-bottom 2vw
  .column
    margin-bottom 5vw