.aguide
	position fixed
	background blue
	width 100vw
	top 0px
	left 0px
	opacity .3
	display none
	&:nth-child(1)
		height 22vw
	&:nth-child(2)
		// left 8vw
		height 5.5vw
	&:nth-child(3)
		height 11vw
	&:nth-child(4)
		height 22vw
	// &:nth-child(4)
	// 	left 50vw