.namePlate
  position relative
  top 0px
  @media tablet
    position fixed
    padding 10vw
    top 0px
  .name
    padding 3rem
    // &:hover
    //     background black
    //     color white
    //     a
    //       color white
    //       &.active
    //         border-color white
    //   a.active
    //     border-bottom 1px solid black
    @media tablet
      margin-left .2rem
      background white
      display block
      width 15rem
      position relative
      top -3rem
      left -3rem
      transition all 200ms ease-out
      z-index 999999
    &.detail
      width 25rem
      