.featphoto
	//display none
	position absolute
	position absolute
	z-index 0!important
	top -2%
	height 92%
	max-height 780px
	width 60%
	background-size 150%
	background-position-x -50
	-webkit-animation-delay 1.2s
	background-size cover
	@media laptop
		display block
		
		// display none
	
.home
	.featphoto
		background-image url(_img/featphoto_home.jpg)
	.featphoto
		right 0!important
		background-size 100%
		background-position-x 0
		opacity 1!important
		background-repeat no-repeat
		height 94vw
		width 65vw
		background-position 69% 100%
		background-size cover
		@media laptop
			height 45vw
			width 65vw
			background-position-x -120%
			background-size cover
		&:nth-child(2)
			display none
			top 65vw
			width 40vw
			left 0px
			right none
			background-color grey
			background-position 100%  0
			background-image url(http://cdn2.dropmark.com/39456/d08b858b2a0356c471c9137e86cf9e0f3e81b0ad/rest_bw-388.jpg)
			@media laptop
				display block
				
			
		
		
.volunteer
	.featphoto
		background-image url(_img/featphoto_volunteer.jpg)
	.featphoto
		left 0!important
		background-size 100%
		background-position-x 0
		opacity 1!important
		background-repeat no-repeat
		width 73vw
		height 104vw
		background-size cover
		background-position 35% 140%
		@media laptop	
			height 48vw
			width 70vw
			background-size 129%
			background-position 0 55%
	.heading
		background-position 73% 100%
		background-size 210%
		
.services
	.featphoto
		background-image url(_img/featphoto_services.jpg)
	.featphoto
		top 0
		left 0
		width 93vw
		height 73vw
		background-position 60% 51%
		background-size 139%
		@media laptop
			height 46vw
			width 70vw
			background-size 110%
	.heading
		background-position 73% 100%
		background-size 175%

.team
	.featphoto
		background-image url(_img/featphoto_team.jpg)
	.featphoto
		right 0 !important
		background-size 100%
		background-position-x 0
		opacity 1 !important
		background-repeat no-repeat
		height 55vw
		width 63vw
		background-position left bottom	
		background-size 180%
		top 5.5vw
		@media laptop
			height 48vw
			width 60vw
			top 0px
			background-position left bottom	
			background-size 180%
	.heading
		background-position 73% 100%
		background-size 210%
		
.values
	.featphoto
		background-image url(_img/featphoto_values.jpg)
		right 0 !important
		background-size 100%
		background-position-x 0
		opacity 1 !important
		background-repeat no-repeat
		height 33vw
		background-size cover
		width 65vw
		background-position right bottom	
		
.heading
	@media laptop
		background-image none !important
		
.blog.detail
	.featphoto
		right 0px
		height: 43.5vw;
		width: 47vw;
		display none

.events.detail
	.featphoto
		right 0px
		height: 33.5vw;
		width: 47vw;
		opacity .4
		display none

// .featphoto
//   position absolute
//   z-index 0!important
//   top -2%
//   height 92%
//   width 60%
//   background-color transparent
//   background-size 150%
//   background-position-x -50
//   -webkit-animation-delay 1.2s
//   max-height 780px
//   &.home
//     background-image url(http://cdn2.dropmark.com/39456/f70e6091d1be18b559e8cfc9764cf6454e130ac2/rest_bw-182.jpg)
//     right 0!important
//     background-size 100%
//     background-position-x 0
//     opacity 1!important
//     background-repeat no-repeat
//     height 90vh
//     background-size cover
//     width 55vw
//     background-position-x -120
//   &.team
//     background-image url(../_img/featphoto_team.jpg)
//     right 0!important
//     background-size 100%
//     background-position-x 0
//     opacity 1!important
//     background-repeat no-repeat
//     height 73vh
//     background-size 233%
//     width 78vw
//     background-position 0 70%
//     max-height 620px
//   &.volunteer
//     background-image url(http://cdn2.dropmark.com/39456/6b2400d16ec719e94822430dba435d0f0872ec94/rest_bw-295_preview.jpg)
//     left 0!important
//     background-size 100%
//     background-position-x 0
//     opacity 1!important
//     background-repeat no-repeat
//     height 45vw
//     background-size 123%
//     width 68vw
//     background-position 0 52%
//   &.volunteer2
//     background-image url(http://cdn2.dropmark.com/39456/6b2400d16ec719e94822430dba435d0f0872ec94/rest_bw-295_preview.jpg)
//     position relative
//     background-size 100%
//     background-position-x 0
//     opacity 1!important
//     background-repeat no-repeat
//     height 1px
//     padding-bottom 50%
//     background-size 123%
//     width 100%
//     background-position 0 52%
//     transform scale(3)
//     left -20%
//   &.services
//     background-image url(../_img/featphoto_services.jpg)
//     top 0
//     left 0
//     height 57vh
//     width 70vw
//     background-position 60% 51%
//     background-size 185%

img.offset
	width 211%
	margin-top -16%
	margin-left -108%


